.AddPainel{
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.562);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.AddPainel section{
    width: clamp(200px, 90%, 550px);
    height: 400px;
    background-color: rgba(27,28,46,1);
    border-radius: 10px;
}
.AddPainel section div:first-child{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.AddPainel section div:first-child div{
    background-color: rgba(255, 0, 0, 0.222);
    width: 36px;
    height: 80%;
    float: right;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
}

.AddPainel section div:first-child div nav{
    width: 30%;
    height: 30%;
    background-color: red;
    border-radius: 10000px;
}





.AddPainel section div:last-of-type{
    width: 100%;
    height: 90%;
}




.form nav:first-of-type form{
    margin-top: 0;
    padding: 0;
}

.form nav:first-of-type h1{
    color: white;
    text-align: center;
    height: 50px;
    font-weight: 300;
    color: rgb(255, 204, 0);
}

.form nav:first-of-type input{
    color: white;
    border-color: white;
    margin: 20px auto 0 auto;
}
.form nav:first-of-type button{
    margin: 50px auto 0 auto;
    display: block;

}

.form nav:first-of-type input::placeholder{
    color: var(--p, white);
}