.FormRegistrar{
    text-align: center;
    padding-top: 10px;
}

.FormRegistrar h3{
    color: red;
    font-weight: 400;
    margin-bottom: 20px;
    height: 20px;
}

.FormRegistrar p span{
    font-weight: 700;
}
.FormRegistrar p{
    font-weight: 200;
    margin-top: 45px;
    color: #3F416C;
}