.RegisterArea{
    background-color: rgb(255, 255, 255);
    width:clamp(100px, 90%, 600px);
    height: 500px;
    border-radius: 7px;
    margin: 0 auto 0 auto;
}

.RegisterArea img{
    display: block;
    margin: 0 auto 0 auto;
    width: 220px;
    padding: 20px 0 0 0;
}