.conteudo{
    width: clamp(200px, 90%, 2000px);
    height: 76vh;
    background-color: white;
    margin: 50px auto 0 auto;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}
.conteudo nav:first-of-type{
    height: 70px;
    width: 97%;
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    border-bottom: 8px solid #3F416C;

}

.conteudo nav:first-of-type div:last-of-type{
    background-color: #E5F6E1;
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 5px;
}


.conteudo nav:first-of-type h1{
    font-size: 25px;
    font-weight: 900;
    color: #3F416C;
}


/* Conteudo */
.conteudo nav:last-of-type{
    width: 97%;
    background-color: #FFFFFF;
    height: 100%;
    flex-wrap: wrap;
    margin: 0 auto 0 auto;
    padding: 40px 0 0 0;
    overflow: auto;
}

